.navbar {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 1rem;
  margin-bottom: 3rem;

  &-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 1rem;
    border: 1px solid;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
